@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

.auth-container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl-internal-b3fm6y {
  display: none !important;
}

.cl-card {
  border-radius: 4px !important;
  box-shadow: none !important;
}

.cl-formButtonPrimary {
  background-color: black !important;
  color: white !important;
}

.ant-form-item {
  margin-bottom: 0px !important;
}

.ant-form-item-label {
  padding: 0px !important;
}

table {
  margin-top: 20px;
  border: 1px solid rgb(153, 153, 153);
}

.room-card:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.room-card img {
  overflow: hidden;
}

.room-card {
  overflow: hidden;
}
